# Ignore binaries
build-*
build
compile_commands.json

# Ignore venv stuff
venv/
bin/
lib/
*.cfg
*.DS_Store
*.dSYM*

# Ignore image files for filter branch
*.bmp
# Need to move this out of CS50 directory so larger Make works properly but don't want to lose it in repo.
filter-less/
