# Ignore binaries
build-*
build
compile_commands.json

# Ignore venv stuff
venv/
bin/
lib/
*.cfg
*.DS_Store
*.dSYM*

# Ignore supporting files
*.bmp
*.jpg
*.txt
*.csv
dictionaries/
*.o
speller/speller
*.db

# Ignore all Fiftyville stuff
Fiftyville/answers.txt
Fiftyville/log.sql
